<h2><center> User Update Details Page</center></h2>
<div class="container">
<span style="color:red" ng-if="error.code==1">{{error.message}}</span>

<div class="form-group">
Enter Username 
<input type="text" placeholder="Enter username" ng-model="user.username" class="form-control" required >

<span style="color:red" ng-if="error.code==2">{{error.message}}</span>
</div>

<div class="form-group">
Enter Password
<input type="password" placeholder="Enter password" ng-model="user.password" class="form-control">
</div>

<div class="form-group">
Enter Firstname 
<input type="text" placeholder="Enter firstname" ng-model="user.firstname" class="form-control">

</div>

<div class="form-group">
Enter Lastname 
<input type="text" placeholder="Enter lastname" ng-model="user.lastname" class="form-control">

</div>

<div class="form-group">
Enter EmailId 
<input type="email" placeholder="Enter email" ng-model="user.emailid" class="form-control">

<span style="color:red" ng-if="error.code==3">{{error.message}}</span>
</div>

<div class="form-group">
Enter PhoneNumber 
<input type="text" placeholder="Enter phonenumber" ng-model="user.phonenumber" class="form-control">
</div>

<div class="form-group">
Select Role: 
<input type="radio"  ng-model="user.role"  value="STUDENT">Student
<input type="radio" ng-model="user.role" value="ALUMINI">Alumini
<input type="radio" ng-model="user.role" value="EMPLOYEE">Employee
</div>
<div class="form-group">
 <button type="button" class="btn btn-info" ng-click="editUserProfile()">Update</button>

<!-- <input type="submit" ng-click="registerUser()" > -->
</div>
</form>

</form>
</div>









 