<!-- <span style="color:red" ng-if="error.code==1">{{error.message}}</span>
<form>
<pre>
Enter Username : <input type="text" ng-model="user.username">
<span style="color:red" ng-if="error.code==2">{{error.message}}</span>
Enter Password : <input type="password" ng-model="user.password">
Enter Firstname : <input type="text" ng-model="user.firstname">
Enter Lastname: <input type="text" ng-model="user.lastname">
Enter Email : <input type="email" ng-model="user.emailid">
<span style="color:red" ng-if="error.code==3">{{error.message}}</span>
Enter Phonenumber : <input type="text" ng-model="user.phonenumber">
Select Role:
<input type="radio" value="STUDENT" ng-model="user.role">Student
<input type="radio" value="EMPLOYEE" ng-model="user.role">Employee
<input type="radio" value="ALUMNI" ng-model="user.role">Alumni
<input type="submit" value="Register" ng-click="registerUser()"> 1
</pre>
</form> -->


<!-- <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
    h1{
        margin: 30px 0;
        padding: 0 200px 15px 0;
        border-bottom: 1px solid #E5E5E5;
    }
	.bs-example{
    	margin: 20px;
    }
</style>
</head>
<body>
<div class="bs-example">
    <h1>Registration Form</h1>
    <form class="form-horizontal" action="/examples/actions/confirmation.php" method="post">
    <span style="color:red" ng-if="error.code==1">{{error.message}}</span>
      <div class="container">
<div class="form-group">
Enter username 
<input type="text" placeholder="Enter username" ng-model="user.username" class="form-control" required>
<span style="color:red" ng-if="error.code==2">{{error.message}}</span>
</div>

<div class="form-group">
Enter password
<input type="password" placeholder="Enter password" ng-model="user.password" class="form-control">
</div>

<div class="form-group">
Enter Firstname 
<input type="text" placeholder="Enter firstname" ng-model="user.firstname" class="form-control">
</div>

<div class="form-group">
Enter lastname 
<input type="text" placeholder="Enter lastname" ng-model="user.lastname" class="form-control">
</div>

<div class="form-group">
Enter email 
<input type="emailid" placeholder="Enter email" ng-model="user.emailid" class="form-control">
<span style="color:red" ng-if="error.code==3">{{error.message}}</span>
</div>

<div class="form-group">
Enter phonenumber 
<input type="text" placeholder="Enter phonenumber" ng-model="user.phonenumber" class="form-control">
</div>

<div class="form-group">
Select Role: 
<input type="radio"  ng-model="user.role"  value="STUDENT">Student
<input type="radio" ng-model="user.role" value="ALUMINI">Alumini
<input type="radio" ng-model="user.role" value="EMPLOYEE">Employee
</div>
<div class="form-group">
<input type="submit" value="Register" ng-click="registerUser()" >
</div>
</form>
</div>









 -->      
 
 
 <div class="container">
  <span style="color:red" ng-if="error.code==1">{{error.message}}</span>
<form>
<div class="form-group">
Enter username 
<input type="text" placeholder="Enter username" ng-model="user.username" class="form-control" required>
<span style="color:red" ng-if="error.code==2">{{error.message}}</span>
</div>

<div class="form-group">
Enter password
<input type="password" placeholder="Enter password" ng-model="user.password" class="form-control">
</div>

<div class="form-group">
Enter Firstname 
<input type="text" placeholder="Enter firstname" ng-model="user.firstname" class="form-control">
</div>

<div class="form-group">
Enter lastname 
<input type="text" placeholder="Enter lastname" ng-model="user.lastname" class="form-control">
</div>

<div class="form-group">
Enter email 
<input type="email" placeholder="Enter email" ng-model="user.emailid" class="form-control">
<span style="color:red" ng-if="error.code==3">{{error.message}}</span>
</div>

<div class="form-group">
Enter phonenumber 
<input type="text" placeholder="Enter phonenumber" ng-model="user.phonenumber" class="form-control">
</div>

<div class="form-group">
Select Role: 
<input type="radio"  ng-model="user.role"  value="STUDENT">Student
<input type="radio" ng-model="user.role" value="ALUMINI">Alumini
<input type="radio" ng-model="user.role" value="EMPLOYEE">Employee
</div>
<div class="form-group">
<input type="submit" ng-click="registerUser()" >
</div>
</form>
</div>









 